header {
    transition-duration: 0.5s;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    & > nav {
        width: 70%;
        > ul{
            margin: 0;
            display:flex;
            li {
                list-style: none;
                margin-right: 20px;
                a {
                    text-decoration: none;
                    font-weight: bold;
                    color: #222;
                    font-family: 'Open Sans';
                }
            }
        }        
    }
}
section.full-banner {
    width: 100%;
    height: 100vh;
    background: url("../images/c6bank/hero-bg-mobile.webp") no-repeat;
    background-size: cover;
    > .destak {
        width: 40%;
        height: 60vh;
        position: absolute;
        bottom: 0;
        left: 10%;
        h1 {
            font-weight: 300;
            font-size: 3rem;
            margin: 0;
            line-height: 1.25em;
        }
        >h2,h3 {
            font-weight: 300;
            margin: 0;
        }
        h3 {
            width: 90%;
            background: rgba(36, 36, 36,0.35);
            color: #eee;
            font-weight: normal;
            line-height: 2.5em;
            font-size: 0.8em;
            padding: 0 2%;
            border-radius: 25px;
        }
    }
}

::selection {
    background: #ffe45c;
    color: #242424;
}

button.disabled {
    background: none;
    border: solid 0.5px rgba(36,36,36,0.2);
}

button.disabled:hover {
    background: rgba(36,36,36,0.8)
}
button {
    background: linear-gradient(150deg, #ffe45c 0%, #ffc900 100%);
    width: 290px;
    line-height: 40px;
    border-radius: 25px;
    border: none;
    text-transform: uppercase;
}
button:hover{
    background: linear-gradient(150deg, #ffe668, 0% #ffdc5f 100%);
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2);
}
.destak >h3 >span {
    display: inline-block;
    line-height: 1.7em;
    width: fit-content;
    background: #006d8f;
    border-radius: 25px;
    padding: 0 3%;
}
@media (min-width: 992px){
    section.full-banner {
    background: url("../images/c6bank/hero-bg.webp") no-repeat;
    background-size: cover;
    }
}